body {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

h1, h2 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 3rem;
}

h2 {
  font-size: 2.2rem;
}

#navigation {
    font-size: 1.5rem;
    position: fixed;
    z-index: 1;
    margin-top: 2%;
    width: 97%;
    text-align: right;

}

#navigation a {
  text-decoration: none;
  color: #fafafa;
  padding: 2%;
}

#navigation a:hover, #navigation a:focus {
  color: #ff6f56;
  border-bottom: 2px solid #fafafa;
}

header {
  position: relative;
  background-image: linear-gradient(-225deg, rgba(250,250,250, 0.6), 0%, rgba(0,0,0, 0.4) 50%), url(../assets/header4.png);
  background-size: 100%;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

#wrapper {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 2%;
}

.header-txt {
    position: relative;
    z-index: 1;
    font-size: 6.5rem;
    letter-spacing: 1.8rem;
    color: #fafafa;
    font-family: 'raleway';
    padding-left: 2%;
}

.header-tag {
    position: relative;
    z-index: 1;
    color: #fafafa;
    font-family: 'raleway';
    font-size: 1.5rem;
}

#about {
    width: 65%;
    margin: 0 auto;
    padding: 15%;
}

#about p {
    font-size: 1.5rem;
    color: black;
    border-bottom: 2px solid #ff6f56;
    padding-bottom: 3%;
}

#about h2 {
  font-family: 'raleway';
}

.team {
  width:100%;
  background-color: #3b3b3b;
  position: relative;
  overflow: auto;
  font-size: 0;
}

.person {
  overflow: hidden;
  display: inline-block;
  width: 50%;
  font-size: 0px;
  height: 50vh;
  position: relative;
  min-height: 340px;
}

.person__slidefront {
  position: relative;
  width: 100%;
  font-size: 0px;
  height: 50vh;
  min-height: 340px;
}

.person__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -49%);
}

.person__portrait {
  background-color: #292929;
  border-radius: 50%;
  border: 8px solid #07689f;
  height: 27.5vw;
  width: 27.5vw;
  max-width: 260px;
  max-height: 260px;
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.person__portrait--philippa { background-image: url("../images/philippa.jpeg"); }
.person__portrait--antonio { background-image: url("../images/antonio.jpeg"); }
.person__portrait--finn { background-image: url("../images/finn.jpeg"); }
.person__portrait--maja { background-image: url("../images/maja.jpeg"); }

.person__title {
  text-align: center;
  margin: 0.5rem 0 0 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #252525;
}

.person__bio {
  font-size: 1.2rem;
}

.person__projects {
  width: 49%;
  height: 50px;
  background-color: black;
  display: inline-block;
}

.person--yellow {
  background-color: #fccb2a;
}

.person--offwhite {
  background-color: #fafafa;
}
.person--lightblue {
  background-color: #a2d5f2;
}
.person--orange {
  background-color: #ff6f56;
}

.person__slideback {
  background-color: black;
  position: absolute;
  width: 100%;
  top: 0;
  left: 100%;
  height: 50vh;
  min-height: 280px;
}

.person:hover .person__slideback, .person:focus .person__slideback {
  left: 0;
}
#Contact {
  background-color: #fafafa;
  padding-top: 50px;
  padding-bottom: 100px;
}

#contact_form {
position: relative;

}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}


#name, #email, #message, #submit_button {
  border: 2px solid rgba(0,0,0,0.5);
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

}

#submit_button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
   top: 150%;
}

#contact_form_header {
  text-align: center;
  padding-bottom: 5%;
}
