body {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

h1, h2 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

#navigation {
    margin-left: 76%;
    font-size: 1.5rem;
    position: fixed;
    z-index: 1;
    margin-top: 1%;
    width: 100%;
}

#navigation a {
  text-decoration: none;
  color: #fafafa;
  padding: 1%;
}

#navigation a:hover {
  color: #ff6f56;
}

header {
  position: absolute;
  background-image: linear-gradient(-225deg, rgba(250,250,250, 0.6), 0%, rgba(0,0,0, 0.4) 50%), url(../assets/header4.png);
  width: 100%;
  height: 100%;
  background-size: 100%;
}

#wrapper {
  height: 100%;
  width: 100%;
  text-align: center;
}

.header-txt {
    position: relative;
    z-index: 1;
    font-size: 6.5rem;
    letter-spacing: 1.8rem;
    color: #fafafa;
    font-family: 'raleway';
    top: 75%;
    padding-left: 2%;
}

.header-tag {
    position: relative;
    z-index: 1;
    color: #fafafa;
    font-family: 'raleway';
    top: 72%;
    font-size: 1.5rem;
}

.team {

}

.team__person {

}
